<div class="row head">

    </div>
    <div class="row">
        <div class="col-4">
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
            <div class="row">
                <img class="image" src="../../../assets/image.jpeg" alt="">
            </div>
        </div>
        </div>