<div class="head row">

</div>
<div class="row head">
  <div class="col-2">
  </div>
  <div class="col-10">
    <h2 class="text-center logo-text">My Site</h2>
  </div>
</div>
<div class="row">
  <div class="col-2 left-menu">
    <div class="row nav-link"><div class="col-12"><p class="text-center nav-text" routerLink="/main" >ГЛАВНАЯ</p></div></div>
    <div class="row nav-link"><div class="col-12"><p class="text-center nav-text" routerLink="/signup" >РЕГИСТРАЦИЯ</p></div></div>
    <div class="row nav-link"><div class="col-12"><p class="text-center nav-text" routerLink="/signin">ВХОД</p></div></div>
    <div class="row nav-link"><div class="col-12"><p class="text-center nav-text" routerLink="/about">О НАС</p></div></div>
  </div>

  <div class="col-10">
      <router-outlet></router-outlet>
  </div>
</div>
